<!DOCTYPE html>
<html lang="ro">
    <head>
        <title><%-locals.titlu%></title>
        <%-include("../fragmente/head.ejs");%>
        <link rel="stylesheet" href="/resurse/css/eroare.css">
    </head>
    <body>
        <header>
            <link rel="stylesheet" href="/resurse/css/header.css">
            <h1><%-locals.titlu%></h1>
        </header>
        <%-include("../fragmente/printare.ejs");%>
        <%-include("../fragmente/nav.ejs");%>
        <main>
            <h2><%-locals.text%></h2>
            <img id="imagine-eroare" src="<%-locals.imagine%>" alt="403">
        </main>
        <%-include("../fragmente/footer.ejs");%>
    </body>
</html>