<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Calculatoare Noi si Vechi-galerie statica</title>
        <%-include("../fragmente/head.ejs");%>
    </head>
    <body>
        <header>
            <link rel="stylesheet" href="/resurse/css/header.css">
            <h1>Calculatoare Noi si Vechi-galerie statica</h1>
        </header>
        <%-include("../fragmente/printare.ejs");%>
        <%-include("../fragmente/nav.ejs");%>
        <%-include("../fragmente/galerie_statica")%>
        <%-include("../fragmente/footer.ejs");%>
    </body>
</html>