<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Calculatoare Noi si Vechi-galerie animata</title>
        <%-include("../fragmente/head.ejs");%>
        <link rel="stylesheet" href="/temp/galerie_animata.css">
    </head>
    <body>
        <header>
            <link rel="stylesheet" href="/resurse/css/header.css">
            <h1>Calculatoare Noi si Vechi-galerie animata</h1>
        </header>
        <%-include("../fragmente/printare.ejs");%>
        <%-include("../fragmente/nav.ejs");%>
        <div id="galerie-animata">
            <%
            const d = new Date();
            let anotimp = "toamna";
            if(d.getMonth() <= 1 || d.getMonth() === 11)
                anotimp = "iarna";
            else if(d.getMonth() <= 4)
                anotimp = "primavara";
            else if(d.getMonth() <= 7)
                anotimp = "vara";
            let elemente = 0;
            let nrElemente = locals.numarImagini;
            for(let imag of locals.imagini) {
                if(imag.anotimp && imag.anotimp === anotimp) {
            %>
                   <figure title="<%-imag.text_descriere%>">
                       <picture>
                           <source media="(max-width:500px)" srcset="<%-imag.mic%>">
                           <source media="(max-width:1000px)" srcset="<%-imag.mediu%>">
                           <img src="<%-imag.mare%>" alt="<%-imag.titlu%>">
                       </picture>
                       <figcaption><%-imag.titlu%><br><%-imag.atribuire%></figcaption>
                   </figure>
            <%
                    elemente++;
                    if(elemente === nrElemente) {
                        break;
                    }
                }
            }
            %>
        </div>
        <%-include("../fragmente/footer.ejs");%>
    </body>
</html>