<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Calculatoare Noi si Vechi - Logout</title>
        <meta name="description" content="Calculatoare Noi si Vechi - Logout">
        <meta name="keywords" content="calculatoare, noi, vechi, logout">
        <link rel="stylesheet" href="/resurse/css/general.css" type="text/css"/>
        <link rel="stylesheet" href="/resurse/css/general-1000.css" type="text/css"/>
        <link rel="stylesheet" href="/resurse/css/general-500.css" type="text/css"/>
        <%- include("../fragmente/head") %>
    </head>
    <body>
        <%- include("../fragmente/header");%>
        <%-include("../fragmente/printare.ejs");%>
        <%-include("../fragmente/nav.ejs");%>
        <main>
            <h2 style="text-align: center">Ai fost delogat!</h2>
        </main>
        <%-include('../fragmente/footer')%>
    </body>
</html>