<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Calculatoare noi si vechi - produse</title>
        <meta name="keywords" content="PC, laptop, mouse, tastatura, monitor, casti, gaming, lei">
        <meta name="description" content="Magazin Calculatoare si Periferice PC Online">
        <%-include("../fragmente/head.ejs");%>
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css"/>
        <script src="/resurse/js/produse.js" defer></script>
    </head>
    <body>
        <%-include("../fragmente/header");%>
        <%-include("../fragmente/printare.ejs");%>
        <%-include("../fragmente/nav.ejs");%>
        <main id="main">
            <h2>Produse</h2>
            <section id="filtre">
                <!--a-->
                <div>
                    <label for="input-cuvant-cheie">Cuvant cheie:</label>
                    <input type="text" id="input-cuvant-cheie" value="<%-locals.query.cc%>">
                </div>
                <br>
                <!--b-->
                <!--Cod luat de pe https://www.youtube.com/watch?v=pTlsnFLiK6c-->
                <div class="middle">
                    <div id="label-range">
                        <label>Pret:</label>
                    </div>
                    <div id="before-range"></div>
                    <div id="range">
                        <div class="multi-range-slider">
                            <%if(locals.query.mi) {%>
                                <input type="range" id="input-left" min="0" max="10000" value="<%-parseInt(locals.query.mi)%>">
                            <%}
                            else {%>
                            <input type="range" id="input-left" min="0" max="10000" value="0">
                            <%}%>
                            <%if(locals.query.ma) {%>
                            <input type="range" id="input-right" min="0" max="10000" value="<%-parseInt(locals.query.ma)%>">
                            <%}
                            else {%>
                                <input type="range" id="input-right" min="0" max="10000" value="10000">
                            <%}%>
                        </div>
                        <div class="slider">
                            <div class="track"></div>
                            <div class="range"></div>
                            <div class="thumb left"></div>
                            <div class="thumb right"></div>
                        </div>
                    </div>
                    <div id="after-range"></div>
                    <div id="valoare-selectata"></div>
                </div>
                <br>
                <!--c-->
                <div>
                    <label for="input-tip">Tip produse:</label>
                    <%
                    if(locals.query.tp) {%>
                        <input list="tipuri-produse" id="input-tip" value="<%-locals.query.tp%>"/>
                    <%}
                    else {%>
                        <input list="tipuri-produse" id="input-tip" placeholder="orice"/>
                    <%}%>
                    <datalist id="tipuri-produse">
                        <%
                        let apProd={};
                        for(prod of locals.tipuri) {
                            if(!apProd[prod]) {%>
                                <option value="<%-prod%>">
                            <%  apProd[prod] = 1;
                            }
                        }%>
                    </datalist>
                </div>
                <!--d-->
                <div>
                    <p>Returnare:</p>
                    <div>
                        <%if(!locals.query.ret) {%>
                            <input type="radio" id="input-returnare-orice" name="input-returnare" checked>
                        <%}
                        else {%>
                            <input type="radio" id="input-returnare-orice" name="input-returnare">
                        <%}%>
                        <label for="input-returnare-orice">Orice</label>
                    </div>
                    <div>
                        <%if(locals.query.ret && locals.query.ret === "true") {%>
                            <input type="radio" id="input-returnare-da" name="input-returnare" checked>
                        <%}
                        else {%>
                            <input type="radio" id="input-returnare-da" name="input-returnare">
                        <%}%>
                        <label for="input-returnare-da">Da</label>
                    </div>
                    <div>
                        <%if(locals.query.ret && locals.query.ret === "false") {%>
                            <input type="radio" id="input-returnare-nu" name="input-returnare" checked>
                        <%}
                        else {%>
                            <input type="radio" id="input-returnare-nu" name="input-returnare">
                        <%}%>
                        <label for="input-returnare-nu">Nu</label>
                    </div>
                </div>
                <br>
                <!--e-->
                <div>
                    <label for="input-noutati">Noutati:</label>
                    <%if(locals.query.no && locals.query.no === "1") {%>
                        <input type="checkbox" id="input-noutati" name="input-noutati" checked>
                    <%}
                    else {%>
                        <input type="checkbox" id="input-noutati" name="input-noutati">
                    <%}%>
                </div>
                <br>
                <!--f-->
                <div>
                    <label for="input-nume">Nume:</label>
                    <div>
                        <textarea id="input-nume" name="input-nume" rows="1" cols="20" ><%-locals.query.nu%></textarea>
                    </div>
                </div>
                <br>
                <!--g-->
                <div>
                    <label for="input-reducere">Reducere:</label>
                    <select id="input-reducere">
                        <option value="orice">Orice</option>
                        <%if(locals.query.mired === "0" && locals.query.mared === "24.99") {%>
                            <option value="0-24.99" selected>0-24.99</option>
                        <%}
                        else {%>
                            <option value="0-24.99">0-24.99</option>
                        <%}%>
                        <%if(locals.query.mired === "25" && locals.query.mared === "49.99") {%>
                            <option value="25-49.99" selected>25-49.99</option>
                        <%}
                        else {%>
                            <option value="25-49.99">25-49.99</option>
                        <%}%>
                        <%if(locals.query.mired === "50" && locals.query.mared === "74.99") {%>
                            <option value="50-74.99" selected>50-74.99</option>
                        <%}
                        else {%>
                            <option value="50-74.99">50-74.99</option>
                        <%}%>
                        <%if(locals.query.mired === "75" && locals.query.mared === "100") {%>
                            <option value="75-100" selected>75-100</option>
                        <%}
                        else {%>
                            <option value="75-100">75-100</option>
                        <%}%>
                    </select>
                </div>
                <br>
                <!--h-->
                <div>
                    <div>
                        <label for="input-producatori">Producatori:</label>
                    </div>
                    <select id="input-producatori" multiple>
                        <%let apProducator={};
                        let producator = locals.query.pro;
                        if(typeof producator === "string") {
                            for(prod of locals.producatori) {
                                if(!apProducator[prod]) {
                                    if(prod.toLowerCase() === producator) {%>
                                        <option value="<%-prod%>" selected><%-prod%></option>
                                    <%}
                                    else {%>
                                        <option value="<%-prod%>"><%-prod%></option>
                                    <%}
                                    apProducator[prod] = 1;
                                }
                            }
                        }
                        else if(producator === undefined) {
                            for(prod of locals.producatori) {
                                if(!apProducator[prod]) {%>
                                    <option value="<%-prod%>" selected><%-prod%></option>
                                <%}
                                apProducator[prod] = 1;
                            }
                        }
                        else {
                            for(prod of locals.producatori) {
                                if(!apProducator[prod] && producator.includes(prod.toLowerCase())) {%>
                                    <option value="<%-prod%>" selected><%-prod%></option>
                                <%}
                                else if(!apProducator[prod]) {%>
                                    <option value="<%-prod%>"><%-prod%></option>
                                <%}
                                apProducator[prod] = 1;
                            }
                        }%>
                    </select>
                </div>
                <p>
                    <button id="filtrare" onclick="onClickFiltrare()">Filtreaza</button>
                    <button id="sortCrescNume" onclick="onClickSortareCrescatoare()">Sorteaza crescator dupa nume si procent reducere</button>
                    <button id="sortDescrescNume"  onclick="onClickSortareDescrescatoare()">Sorteaza descrescator dupa nume si procent reducere</button>
                    <button id="calculareSumaPreturi" onclick="onClickCalculareMediaPreturi()">Calculeaza media preturilor produselor selectate</button>
                    <button id="resetare" onclick="onClickResetare()">Reseteaza</button>

                </p>
            </section>
            <div class="grid-produse">
                <%for(let prod of locals.produse) {%>
                    <article class="produs <%-prod.categorie%>" id="artc-<%-prod.id%>">
                        <h3 class="nume">Nume: <a href="/produs/<%-prod.id%>" ><span class="val-nume"><%-prod.nume%></span></a></h3>
                        <%
                            let zi_saptamana = prod.data_adaugare.toString().slice(0,3);
                            const zi_luna = prod.data_adaugare.toString().slice(8,10);
                            let luna = prod.data_adaugare.toString().slice(4,7);
                            const an = prod.data_adaugare.toString().slice(11,15);
                            if(zi_saptamana === "Mon") {
                                zi_saptamana = "Luni";
                            }
                            else if(zi_saptamana === "Tue") {
                                zi_saptamana = "Marti";
                            }
                            else if(zi_saptamana === "Wed") {
                                zi_saptamana = "Miercuri";
                            }
                            else if(zi_saptamana === "Thu") {
                                zi_saptamana = "Joi";
                            }
                            else if(zi_saptamana === "Fri") {
                                zi_saptamana = "Vineri";
                            }
                            else if(zi_saptamana === "Sat") {
                                zi_saptamana = "Sambata";
                            }
                            else {
                                zi_saptamana = "Duminica";
                            }
                            if(luna === "Jan") {
                                luna = "Ianuarie";
                            }
                            else if(luna === "Feb") {
                                luna = "Februarie";
                            }
                            else if(luna === "Mar") {
                                luna = "Martie";
                            }
                            else if(luna === "Apr") {
                                luna = "Aprilie";
                            }
                            else if(luna === "May") {
                                luna = "Mai";
                            }
                            else if(luna === "Jun") {
                                luna = "Iunie";
                            }
                            else if(luna === "Jul") {
                                luna = "Iulie";
                            }
                            else if(luna === "Aug") {
                                luna = "August";
                            }
                            else if(luna === "Sep") {
                                luna = "Septembrie";
                            }
                            else if(luna === "Oct") {
                                luna = "Octombrie";
                            }
                            else if(luna === "Nov") {
                                luna = "Noiembrie";
                            }
                            else {
                                luna = "Decembrie";
                            }
                            let returnare = "Da";
                            if(prod.returnare === false) {
                                returnare = "Nu";
                            }
                        %>
                        <ul>
                            <li><p class="pret">Pret: <span class="valuarepret"><%-prod.pret%></span></p></li>
                            <li><p class="producator">Producator: <span><%-prod.producator%></span></p></li>
                            <li><p class="caracteristici">Caracteristici: <span><%-prod.caracteristici%></span></p></li>
                            <li><p class="timp">Data adaugare: <time><%-zi_saptamana%> <%-zi_luna%> <%-luna%> <%-an%></time></p></li>
                            <li><p class="returnare">Returnare: <span><%-returnare%></span></p></li>
                        </ul>
                        <p class="categorie">Categorie: <span><%-prod.categorie%></span></p>
                        <p class="descriere">Descriere: <span><%-prod.descriere%></span></p>
                        <figure class="poza">
                            <a href="/produs/<%-prod.id%>"><img src="/resurse/imagini/produse/<%-prod.imagine%>" alt="[imagine <%-prod.nume%>]"/></a>
                            <figcaption class="sursa_imagine">Sursa imagine: <span><%-prod.sursa_imagine%></span></figcaption>
                        </figure>
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id%>" autocomplete="off">
                        </label>
                    </article>
                <%}%>
            </div>
        </main>
        <%-include("../fragmente/footer");%>
    </body>
</html>